@import 'tailwindcss';

@theme {
    --font-primary: 'Google Sans', sans-serif;
}

@layer base {
    *,
    *::before,
    *::after {
        @apply outline-none;
    }

    html {
        @apply scroll-smooth;
    }

    body {
        @apply font-primary flex min-h-dvh w-full flex-col items-center justify-between bg-white text-stone-700 antialiased;
    }

    main {
        @apply w-full flex-1;
    }

    button,
    a {
        @apply cursor-pointer;
    }
}
